Repository JavierPs287/ESI-MEDIA: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

pipelines/be-compilation.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Backend
    jobs:
    - job: MavenBuild
      displayName: Maven Compile and Test
      steps:
      - task: JavaToolInstaller@0
        displayName: Setup Java 21
        inputs:
          versionSpec: '21'
  ...

pipelines/fe-compilation.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Frontend
    jobs:
    - job: AngularBuild
      displayName: Angular Compile and Test
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
      - task: Cache@2
  ...

repete-> repeate password
  fe-esimedia/src/app/components/register/register-functions.ts
  fe-esimedia/src/app/components/resetpassword/resetpassword.component.html
  fe-esimedia/src/app/components/resetpassword/resetpassword.component.ts
Due: pipelines/fe-compilation.yml

Fix errata repeatePassword
  fe-esimedia/src/app/components/register/register-functions.ts
  fe-esimedia/src/app/components/resetpassword/resetpassword.component.html
  fe-esimedia/src/app/components/resetpassword/resetpassword.component.ts
Due: pipelines/fe-compilation.yml

FIX 2FA
  fe-esimedia/src/app/components/loginuser/loginuser.component.ts
  fe-esimedia/src/app/components/register/register-functions.ts
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.ts
  fe-esimedia/src/app/components/resetpassword/resetpassword.component.ts
  fe-esimedia/src/app/services/connect-totp.service.ts
  fe-esimedia/src/app/services/usuario.service.ts
Due: pipelines/fe-compilation.yml

fix login
  fe-esimedia/src/app/components/loginuser/loginuser.component.ts
Due: pipelines/fe-compilation.yml

Fix fallos de compilación
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/config/SecurityConfig.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/AudioControllerTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/PasswordResetControllerTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UserServiceTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/VideoControllerTest.java
Due: pipelines/be-compilation.yml

solucionados algunos problemas de las playlists
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/PlaylistController.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UserServiceTest.java
  fe-esimedia/src/app/components/list-playlists/list-playlists.component.css
  fe-esimedia/src/app/components/list-playlists/list-playlists.component.html
  fe-esimedia/src/app/components/list-playlists/list-playlists.component.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

Tests
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/ContenidoServiceTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UserControllerTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UserControllerVerifyTokenTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UsuarioControllerTest.java
Due: pipelines/be-compilation.yml

Fix tests
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/AdminController.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/AdminControllerTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/AdminServiceTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UsuarioServiceTest.java
Due: pipelines/be-compilation.yml

Fix issues críticas playlist service
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/PlaylistService.java
Due: pipelines/be-compilation.yml

[FE] edit profile desde admin
  fe-esimedia/src/app/components/admin-pages/user-management/user-management.component.html
  fe-esimedia/src/app/components/admin-pages/user-management/user-management.component.ts
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.ts
Due: pipelines/fe-compilation.yml

Subido audio
  be-esimedia/src/main/resources/audios/c47a4e1c-4d0c-4c39-afb6-c4fef2dfd0c4.mp3
Due: pipelines/be-compilation.yml

FIX Modificar usuarios
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AdminService.java
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.ts
  fe-esimedia/src/app/services/admin.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

cambiadas las rutas
  fe-esimedia/src/app/components/list-playlists/list-playlists.component.ts
  fe-esimedia/src/app/components/playlist-detail/playlist-detail.component.ts
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.ts
  fe-esimedia/src/app/components/show-content/show-content.component.ts
  fe-esimedia/src/app/components/temporalplaylists/temporalplaylists.component.ts
  fe-esimedia/src/app/services/playlist.service.ts
Due: pipelines/fe-compilation.yml

añadidas las rutas
  fe-esimedia/src/app/components/show-content/show-content.component.ts
Due: pipelines/fe-compilation.yml

Fix tests
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UsuarioServiceTest.java
  pipelines/master-pipeline.yml
Due: pipelines/be-compilation.yml

Merge branch 'develop' of https://github.com/JavierPs287/ESI-MEDIA into develop
  be-esimedia/src/main/resources/audios/c47a4e1c-4d0c-4c39-afb6-c4fef2dfd0c4.mp3
Due: pipelines/be-compilation.yml

Fix issues reliability y cambiado formato de retorno en bloqueo progresivo
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.html
  fe-esimedia/src/app/components/temporalplaylists/temporalplaylists.component.html
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

Fix botón Editar perfil
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.html
Due: pipelines/fe-compilation.yml

Fix UsuarioServiceTest
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UsuarioServiceTest.java
Due: pipelines/be-compilation.yml

Fixes prerevision1
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UsuarioServiceTest.java
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.html
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.html
  fe-esimedia/src/app/components/temporalplaylists/temporalplaylists.component.html
  fe-esimedia/src/app/services/playlist.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

Path conditions:
  pipelines/be-compilation.yml: any of: be-esimedia
  pipelines/fe-compilation.yml: any of: fe-esimedia
