Repository JavierPs287/ESI-MEDIA: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

Path conditions:
  pipelines/be-compilation.yml: any of: be-esimedia
  pipelines/fe-compilation.yml: any of: fe-esimedia

Implementación blacklist
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/BlacklistPassword.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/repository/BlacklistPasswordRepository.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AdminService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
Due: pipelines/be-compilation.yml

Avance de las Playslists
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/PasswordResetControllerTest.java
  fe-esimedia/src/app/app.routes.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

Endpoint /all listo
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/repository/UserRepository.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
Due: pipelines/be-compilation.yml

Bloqueo según intentos de login
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/User.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
Due: pipelines/be-compilation.yml

Implementación Rate Limiting
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/User.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
Due: pipelines/be-compilation.yml

Actualización rate limit
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
Due: pipelines/be-compilation.yml

Generación qr y totpsecret
  be-esimedia/pom.xml
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/config/SecurityConfig.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/User.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
  fe-esimedia/package-lock.json
  fe-esimedia/package.json
  fe-esimedia/src/app/app.routes.ts
  fe-esimedia/src/app/components/connect-totp/connect-totp.component.css
  fe-esimedia/src/app/components/connect-totp/connect-totp.component.html
  fe-esimedia/src/app/components/connect-totp/connect-totp.component.ts
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.ts
  fe-esimedia/src/app/services/connect-totp.service.ts
  pipelines/be-compilation.yml
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

FIX Blacklist
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/BlacklistPassword.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/repository/BlacklistPasswordRepository.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
Due: pipelines/be-compilation.yml

getReproductionMetadata y quitada duplicidad con getUserIdFromRequest
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/dto/ReproductionMetadataDTO.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/ContenidoController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/repository/RatingUsuarioRepository.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AudioService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/ContenidoService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/VideoService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/utils/JwtUtils.java
Due: pipelines/be-compilation.yml

Comprobación de rol en listContenidos
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/ContenidoController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/ContenidoService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/utils/JwtUtils.java
Due: pipelines/be-compilation.yml

Arreglo diseño para 2FA
  fe-esimedia/src/app/components/connect-totp/connect-totp.component.css
  fe-esimedia/src/app/components/connect-totp/connect-totp.component.html
  fe-esimedia/src/app/components/connect-totp/connect-totp.component.ts
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.css
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.html
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.ts
  fe-esimedia/src/app/models/user.model.ts
Due: pipelines/fe-compilation.yml

quitando del log datos
  fe-esimedia/src/app/components/loginuser/loginuser.component.ts
Due: pipelines/fe-compilation.yml

Implementación TOTP Usuario
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/config/SecurityConfig.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
  fe-esimedia/src/app/app.routes.ts
  fe-esimedia/src/app/components/loginuser/loginuser.component.ts
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.html
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.ts
  fe-esimedia/src/app/components/verify-totp/verify-totp.component.css
  fe-esimedia/src/app/components/verify-totp/verify-totp.component.html
  fe-esimedia/src/app/components/verify-totp/verify-totp.component.ts
  fe-esimedia/src/app/services/user.service.ts
  fe-esimedia/src/app/services/verify-totp.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

TODO
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
Due: pipelines/be-compilation.yml

[FE] unaunthorized lleve bien atras
  fe-esimedia/src/app/components/unauthorized/unauthorized.component.ts
Due: pipelines/fe-compilation.yml

Merge branch 'rodrigo' of https://github.com/JavierPs287/ESI-MEDIA into belen
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/exceptions/BlockingException.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/exceptions/UpdatingException.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/AdminController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/repository/UserRepository.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AdminService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
  fe-esimedia/src/app/components/loginuser/loginuser.component.ts
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.ts
  fe-esimedia/src/app/components/menus/menu.functions.ts
  fe-esimedia/src/app/services/user.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

Conseguir creador del token al subir contenido y tests actualizados
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/AudioController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/VideoController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AudioService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/VideoService.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/AudioControllerTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/AudioServiceTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/VideoControllerTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/VideoServiceTest.java
Due: pipelines/be-compilation.yml

Revert "Merge branch 'rodrigo' of https://github.com/JavierPs287/ESI-MEDIA into belen"
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/exceptions/BlockingException.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/exceptions/UpdatingException.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/AdminController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/repository/UserRepository.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AdminService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
  fe-esimedia/src/app/components/loginuser/loginuser.component.ts
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.ts
  fe-esimedia/src/app/components/menus/menu.functions.ts
  fe-esimedia/src/app/services/user.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

[FE] edit profiles + logout
  fe-esimedia/src/app/app.routes.ts
  fe-esimedia/src/app/components/edit-profiles/edit-admin/edit-admin.component.css
  fe-esimedia/src/app/components/edit-profiles/edit-admin/edit-admin.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-admin/edit-admin.component.spec.ts
  fe-esimedia/src/app/components/edit-profiles/edit-admin/edit-admin.component.ts
  fe-esimedia/src/app/components/edit-profiles/edit-creator/edit-creator.component.css
  fe-esimedia/src/app/components/edit-profiles/edit-creator/edit-creator.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-creator/edit-creator.component.spec.ts
  fe-esimedia/src/app/components/edit-profiles/edit-creator/edit-creator.component.ts
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.css
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.ts
  fe-esimedia/src/app/components/edit-profiles/edit-user/edit-user.component.css
  fe-esimedia/src/app/components/edit-profiles/edit-user/edit-user.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-user/edit-user.component.spec.ts
  fe-esimedia/src/app/components/edit-profiles/edit-user/edit-user.component.ts
  fe-esimedia/src/app/components/menus/main-menu-admin/main-menu-admin.component.html
  fe-esimedia/src/app/components/menus/main-menu-admin/main-menu-admin.component.ts
  fe-esimedia/src/app/components/menus/main-menu-creator/main-menu-creator.component.html
  fe-esimedia/src/app/components/menus/main-menu-creator/main-menu-creator.component.ts
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.html
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.ts
  fe-esimedia/src/app/components/register/register-functions.ts
  fe-esimedia/src/app/components/register/registeradmin/registeradmin.component.ts
  fe-esimedia/src/app/components/register/registercreator/registercreator.component.ts
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.html
  fe-esimedia/src/app/constants/form-constants.ts
Due: pipelines/fe-compilation.yml

Constantes corregidas y movidas a Constants.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/constants/Constants.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
Due: pipelines/be-compilation.yml

[FE] edit profiles
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.css
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.ts
  fe-esimedia/src/app/components/menus/main-menu-admin/main-menu-admin.component.ts
  fe-esimedia/src/app/components/menus/main-menu-creator/main-menu-creator.component.ts
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.ts
  fe-esimedia/src/app/components/register/form-styles.css
  fe-esimedia/src/app/components/register/registercreator/registercreator.component.css
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.ts
Due: pipelines/fe-compilation.yml

Bloqueada subida de contenido para creador de tipo no permitido
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AudioService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/VideoService.java
Due: pipelines/be-compilation.yml

Implementación completa 2FA
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/config/SecurityConfig.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/User.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
  fe-esimedia/angular.json
  fe-esimedia/src/app/components/connect-totp/connect-totp.component.ts
  fe-esimedia/src/app/components/loginuser/loginuser.component.ts
  fe-esimedia/src/app/components/register/registeradmin/registeradmin.component.ts
  fe-esimedia/src/app/components/register/registercreator/registercreator.component.ts
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.ts
  fe-esimedia/src/app/models/admin.model.ts
  fe-esimedia/src/app/models/creator.model.ts
  fe-esimedia/src/app/models/user.model.ts
  fe-esimedia/src/app/services/user.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

Fix de modelos, pendiente campo rol en UserDTO
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/dto/AdminDTO.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/dto/UserDTO.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/dto/UsuarioDTO.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
Due: pipelines/be-compilation.yml

[FE][BE] creando modelo Users y endpoint cookie-data
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  fe-esimedia/src/app/app.config.ts
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.ts
  fe-esimedia/src/app/models/user.model.ts
  fe-esimedia/src/app/models/usuario.model.ts
  fe-esimedia/src/app/services/Users.service.ts
  fe-esimedia/src/app/services/user.service.spec.ts
  fe-esimedia/src/app/services/user.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

Fix carpeta ContenidoScheduler
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/ContenidoSchedulerService.java
Due: pipelines/be-compilation.yml

Rol puesto en UserDTO
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/dto/UserDTO.java
Due: pipelines/be-compilation.yml

Fix tests subida audio y vídeo
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/AudioServiceTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/VideoServiceTest.java
Due: pipelines/be-compilation.yml

Issues críticas SonarQube corregidas, refactorización de findAll en UserService y /user/profile implementado
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/constants/Constants.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/dto/CreadorDTO.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
Due: pipelines/be-compilation.yml

Refactorizado método para issue de SonarQube
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
Due: pipelines/be-compilation.yml

quitando console logs
  fe-esimedia/src/app/app.config.ts
  fe-esimedia/src/app/components/admin-pages/user-management/user-management.component.ts
  fe-esimedia/src/app/components/creator-pages/uploadcontent/uploadaudio/uploadaudio.component.ts
  fe-esimedia/src/app/components/creator-pages/uploadcontent/uploadvideo/uploadvideo.component.ts
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.ts
  fe-esimedia/src/app/components/forgotpassword/forgotpassword.component.ts
  fe-esimedia/src/app/components/loginuser/loginuser.component.spec.ts
  fe-esimedia/src/app/components/loginuser/loginuser.component.ts
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.html
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.ts
  fe-esimedia/src/app/components/navbar/navbar.component.ts
  fe-esimedia/src/app/components/register/registeradmin/registeradmin.component.ts
  fe-esimedia/src/app/components/register/registercreator/registercreator.component.ts
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.spec.ts
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.ts
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.ts
  fe-esimedia/src/app/components/resetpassword/resetpassword.component.ts
  fe-esimedia/src/app/components/show-content/show-content.component.ts
  fe-esimedia/src/app/constants/avatar-constants.ts
  fe-esimedia/src/app/guards/auth.guard.ts
  fe-esimedia/src/app/guards/role.guard.ts
  fe-esimedia/src/app/interceptors/error.interceptor.ts
  fe-esimedia/src/app/models/user.model.ts
  fe-esimedia/src/app/services/Users.service.ts
  fe-esimedia/src/app/services/admin.service.ts
  fe-esimedia/src/app/services/content.service.ts
  fe-esimedia/src/app/services/creator.service.ts
  fe-esimedia/src/app/services/image.service.ts
  fe-esimedia/src/app/services/user.service.spec.ts
  fe-esimedia/src/app/services/user.service.ts
  fe-esimedia/src/app/services/usuario.service.ts
Due: pipelines/fe-compilation.yml

quitando/modificando alerts
  fe-esimedia/src/app/components/creator-pages/uploadcontent/uploadaudio/uploadaudio.component.ts
  fe-esimedia/src/app/components/creator-pages/uploadcontent/uploadvideo/uploadvideo.component.ts
  fe-esimedia/src/app/services/user.service.ts
  fe-esimedia/src/app/services/usuario.service.ts
Due: pipelines/fe-compilation.yml

Fix listContenidos y fix getCurrentUser
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/dto/CreadorDTO.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/ContenidoService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
Due: pipelines/be-compilation.yml

Implementación 3FA
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/config/SecurityConfig.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/ThreeFactorCode.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/User.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/repository/ThreeFactorCodeRepository.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/EmailService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
  fe-esimedia/src/app/app.routes.ts
  fe-esimedia/src/app/components/loginuser/loginuser.component.ts
  fe-esimedia/src/app/components/register/registeradmin/registeradmin.component.ts
  fe-esimedia/src/app/components/register/registercreator/registercreator.component.ts
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.html
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.ts
  fe-esimedia/src/app/components/verify-email-code/verify-email-code.component.css
  fe-esimedia/src/app/components/verify-email-code/verify-email-code.component.html
  fe-esimedia/src/app/components/verify-email-code/verify-email-code.component.ts
  fe-esimedia/src/app/components/verify-totp/verify-totp.component.ts
  fe-esimedia/src/app/models/admin.model.ts
  fe-esimedia/src/app/models/creator.model.ts
  fe-esimedia/src/app/models/user.model.ts
  fe-esimedia/src/app/services/user.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

FIX boton 3FA
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.css
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.html
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.ts
Due: pipelines/fe-compilation.yml

[FE] hacer logout
  fe-esimedia/src/app/components/menus/main-menu-admin/main-menu-admin.component.ts
  fe-esimedia/src/app/components/menus/main-menu-creator/main-menu-creator.component.ts
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.ts
Due: pipelines/fe-compilation.yml

[FE] cerrar sesion
  fe-esimedia/src/app/components/menus/main-menu-admin/main-menu-admin.component.ts
  fe-esimedia/src/app/components/menus/main-menu-creator/main-menu-creator.component.ts
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.ts
Due: pipelines/fe-compilation.yml

Listas de Reproducion, es temporal, falta hacer cambios
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/config/SecurityConfig.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/dto/PlaylistDTO.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/PlaylistController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/Playlist.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/repository/PlaylistRepository.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/PlaylistService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/AudioControllerTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/PasswordResetControllerTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/VideoControllerTest.java
Due: pipelines/be-compilation.yml

Fix redirección a login al recargar página
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  fe-esimedia/src/app/app.config.ts
  fe-esimedia/src/app/app.routes.ts
  fe-esimedia/src/app/guards/auth.guard.ts
  fe-esimedia/src/app/services/auth.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml
