Repository JavierPs287/ESI-MEDIA: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

pipelines/be-compilation.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Backend
    jobs:
    - job: MavenBuild
      displayName: Maven Compile and Test
      steps:
      - task: JavaToolInstaller@0
        displayName: Setup Java 21
        inputs:
          versionSpec: '21'
  ...

pipelines/fe-compilation.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Frontend
    jobs:
    - job: AngularBuild
      displayName: Angular Compile and Test
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
      - task: Cache@2
  ...

Modificaciones pipelines
  pipelines/be-compilation.yml
  pipelines/fe-compilation.yml
  pipelines/render-deploy.yml
Due: none

.
  pipelines/be-compilation.yml
  pipelines/docker-build.yml
Due: none

Modificación docker pipeline
  pipelines/docker-build.yml
Due: none

Creación un pipeline único
  pipelines/master-pipeline.yml
Due: none

Prueba FIX docker
  Dockerfile
Due: none

Fix y normalización de registros
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/dto/UserDTO.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/exceptions/GlobalExceptionHandler.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/AdminController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/PasswordResetController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/User.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AdminService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AudioService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/ValidateService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/VideoService.java
Due: pipelines/be-compilation.yml

Fix validación alias creador
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AdminService.java
Due: pipelines/be-compilation.yml

.
  Dockerfile
Due: none

Fix validaciones registros
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AdminService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
Due: pipelines/be-compilation.yml

Modificación ajustes despliegue
  Dockerfile
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/config/SecurityConfig.java
Due: pipelines/be-compilation.yml

Modificación dockerfile
  Dockerfile
Due: none

fix FE palabras español->ingles
  fe-esimedia/src/app/components/admin-pages/user-management/user-management.component.html
  fe-esimedia/src/app/components/register/registeradmin/registeradmin.component.html
  fe-esimedia/src/app/components/register/registeradmin/registeradmin.component.ts
  fe-esimedia/src/app/components/register/registercreator/registercreator.component.html
  fe-esimedia/src/app/components/register/registercreator/registercreator.component.ts
Due: pipelines/fe-compilation.yml

quitando comentario a canActivate + ruta reproduce/urlID
  fe-esimedia/src/app/app.routes.ts
Due: pipelines/fe-compilation.yml

fix FE mensajes de error en login
  fe-esimedia/src/app/components/loginuser/loginuser.component.html
Due: pipelines/fe-compilation.yml

FE reproducir contenido
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.css
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.html
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.ts
  fe-esimedia/src/app/components/show-content/show-content.component.html
  fe-esimedia/src/app/components/show-content/show-content.component.ts
  fe-esimedia/src/app/models/content.model.ts
  fe-esimedia/src/app/services/content.service.ts
Due: pipelines/fe-compilation.yml

FE getAudioByUrlId
  fe-esimedia/src/app/services/content.service.ts
Due: pipelines/fe-compilation.yml

[FE] reproducir contenido
  fe-esimedia/src/app/components/confirm-dialog/confirm-dialog.component.ts
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.css
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.html
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.ts
Due: pipelines/fe-compilation.yml

[FE] reproducir contenido
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.ts
Due: pipelines/fe-compilation.yml

[FE] fix posicion badges
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.css
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.html
Due: pipelines/fe-compilation.yml

Método público extractTokenFromCookie y fix obtención token en get contenido
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/constants/Constants.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/exceptions/GlobalExceptionHandler.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/AudioController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/VideoController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/security/JwtAuthenticationFilter.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AudioService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/VideoService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/utils/JwtUtils.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/AudioServiceTest.java
Due: pipelines/be-compilation.yml

Cambio memory allocated
  Dockerfile
Due: none

Eliminación pipelines sobrantes
  pipelines/be-compilation.yml
  pipelines/docker-build.yml
  pipelines/fe-compilation.yml
  pipelines/render-deploy.yml
Due: none

FIX redirección usuario
  fe-esimedia/src/app/components/loginuser/loginuser.component.ts
Due: pipelines/fe-compilation.yml

FIX roles español
  fe-esimedia/src/app/app.routes.ts
Due: pipelines/fe-compilation.yml

Fix rutas CORS
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/config/CorsConfig.java
Due: pipelines/be-compilation.yml

Unfix rutas CORS
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/config/CorsConfig.java
Due: pipelines/be-compilation.yml

Subida del desarrollo de las Playlists hasta el momento
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/config/SecurityConfig.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/PasswordResetController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/PlaylistService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
  fe-esimedia/src/app/app.routes.ts
  fe-esimedia/src/app/components/resetpassword/resetpassword.component.html
  fe-esimedia/src/app/components/resetpassword/resetpassword.component.ts
  fe-esimedia/src/app/components/temporalplaylists/temporalplaylists.component.css
  fe-esimedia/src/app/components/temporalplaylists/temporalplaylists.component.html
  fe-esimedia/src/app/components/temporalplaylists/temporalplaylists.component.spec.ts
  fe-esimedia/src/app/components/temporalplaylists/temporalplaylists.component.ts
  fe-esimedia/src/app/services/playlist.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

TODO allowedOrigins
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/config/CorsConfig.java
Due: pipelines/be-compilation.yml

Fix registro y fix audio_dir
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/constants/Constants.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AdminService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AudioService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/ValidateService.java
  fe-esimedia/src/app/app.routes.ts
  fe-esimedia/src/app/components/register/register-functions.ts
  fe-esimedia/src/app/components/register/registeradmin/registeradmin.component.html
  fe-esimedia/src/app/components/register/registeradmin/registeradmin.component.ts
  fe-esimedia/src/app/components/register/registercreator/registercreator.component.html
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.html
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

[FE] creando componentes
  fe-esimedia/src/app/components/confirm-dialog/confirm-dialog.component.ts
  fe-esimedia/src/app/components/edit-profiles/edit-admin/edit-admin.component.css
  fe-esimedia/src/app/components/edit-profiles/edit-admin/edit-admin.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-admin/edit-admin.component.spec.ts
  fe-esimedia/src/app/components/edit-profiles/edit-admin/edit-admin.component.ts
  fe-esimedia/src/app/components/edit-profiles/edit-creator/edit-creator.component.css
  fe-esimedia/src/app/components/edit-profiles/edit-creator/edit-creator.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-creator/edit-creator.component.spec.ts
  fe-esimedia/src/app/components/edit-profiles/edit-creator/edit-creator.component.ts
  fe-esimedia/src/app/components/edit-profiles/edit-user/edit-user.component.css
  fe-esimedia/src/app/components/edit-profiles/edit-user/edit-user.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-user/edit-user.component.spec.ts
  fe-esimedia/src/app/components/edit-profiles/edit-user/edit-user.component.ts
  fe-esimedia/src/app/components/navbar/navbar.component.spec.ts
  fe-esimedia/src/app/services/user.service.ts
Due: pipelines/fe-compilation.yml

[FE] repete -> repeate
  fe-esimedia/src/app/components/register/register-functions.ts
  fe-esimedia/src/app/components/register/registeradmin/registeradmin.component.html
  fe-esimedia/src/app/components/register/registeradmin/registeradmin.component.ts
  fe-esimedia/src/app/components/register/registercreator/registercreator.component.html
  fe-esimedia/src/app/components/register/registercreator/registercreator.component.ts
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.html
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.ts
Due: pipelines/fe-compilation.yml

Fix endpoints ContenidoController y fix subida de audio y contenido
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/ContenidoController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/ContenidoService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/ValidateService.java
  be-esimedia/src/main/resources/audios/28c3dfbf-dc49-4c78-bc6c-d265cad379d4.mp3
  fe-esimedia/src/app/services/content-form.service.ts
  fe-esimedia/src/app/services/content.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

Comprobador de visibilityDeadline
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/repository/ContenidoRepository.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/service/ContenidoSchedulerService.java
Due: pipelines/be-compilation.yml

modificacion docker guardar archivos
  Dockerfile
Due: none

Cambio dockerfile
  Dockerfile
Due: none

FIX FE contenidos audio
  fe-esimedia/src/app/services/content.service.ts
Due: pipelines/fe-compilation.yml

Refactorización de UserController y UserService, endpoint /me hecho a falta de testing
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
Due: pipelines/be-compilation.yml

Fix sonarqube crtical issue
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
Due: pipelines/be-compilation.yml

Excepciones /me manejadas por GlobalExceptionHandler
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
Due: pipelines/be-compilation.yml

Implementación no recuperar últimas 5 contraseñas
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/config/SecurityConfig.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/PasswordResetController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/PasswordHistory.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/repository/PasswordHistoryRepository.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/PasswordResetControllerTest.java
  fe-esimedia/src/app/app.routes.ts
  fe-esimedia/src/app/components/resetpassword/resetpassword.component.html
  fe-esimedia/src/app/components/resetpassword/resetpassword.component.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

Path conditions:
  pipelines/be-compilation.yml: any of: be-esimedia
  pipelines/fe-compilation.yml: any of: fe-esimedia
