Repository JavierPs287/ESI-MEDIA: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

Path conditions:
  pipelines/be-compilation.yml: any of: be-esimedia
  pipelines/fe-compilation.yml: any of: fe-esimedia

Borrados enpoints audio y video de SecurityConfig (no son usados)
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/config/SecurityConfig.java
Due: pipelines/be-compilation.yml

Fix observer.next que debería ser observer.error
  fe-esimedia/src/app/services/content.service.ts
  fe-esimedia/src/app/services/user.service.ts
Due: pipelines/fe-compilation.yml

Indicación de contenido no visible (para gestores)
  fe-esimedia/src/app/components/show-content/show-content.component.css
  fe-esimedia/src/app/components/show-content/show-content.component.html
Due: pipelines/fe-compilation.yml

Fix registros y añadidos TODOs
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/AdminController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/repository/UserRepository.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AdminService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
Due: pipelines/be-compilation.yml

Implementación https
  be-esimedia/.gitignore
  fe-esimedia/.gitignore
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

Implementación jacoco report pipeline
  pipelines/be-compilation.yml
  pipelines/master-pipeline.yml
Due: none

Cookies Secure
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
Due: pipelines/be-compilation.yml

[FE] editar usuarios
  fe-esimedia/src/app/app.routes.ts
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.css
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.ts
  fe-esimedia/src/app/components/menus/main-menu-admin/main-menu-admin.component.html
  fe-esimedia/src/app/components/menus/main-menu-admin/main-menu-admin.component.ts
  fe-esimedia/src/app/components/menus/main-menu-creator/main-menu-creator.component.html
  fe-esimedia/src/app/components/menus/main-menu-creator/main-menu-creator.component.ts
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.ts
  fe-esimedia/src/app/components/navbar/navbar.component.html
  fe-esimedia/src/app/components/navbar/navbar.component.ts
  fe-esimedia/src/app/services/content.service.ts
Due: pipelines/fe-compilation.yml

HTTPS
  fe-esimedia/angular.json
Due: pipelines/fe-compilation.yml

Pre-merge de develop a andres
  fe-esimedia/src/app/app.routes.ts
  fe-esimedia/src/app/components/list-playlists/list-playlists.component.css
  fe-esimedia/src/app/components/list-playlists/list-playlists.component.html
  fe-esimedia/src/app/components/list-playlists/list-playlists.component.ts
  fe-esimedia/src/app/components/playlist-detail/playlist-detail.component.css
  fe-esimedia/src/app/components/playlist-detail/playlist-detail.component.html
  fe-esimedia/src/app/components/playlist-detail/playlist-detail.component.ts
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.css
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.html
  fe-esimedia/src/app/components/reproduce-content/reproduce-content.component.ts
  fe-esimedia/src/app/components/show-content/show-content.component.ts
  fe-esimedia/src/app/components/temporalplaylists/temporalplaylists.component.ts
  fe-esimedia/src/app/services/playlist.service.ts
Due: pipelines/fe-compilation.yml

Elminación pipeline
  pipelines/be-compilation.yml
Due: none

Update master-pipeline.yml for Azure Pipelines
  pipelines/master-pipeline.yml
Due: none

Fix dependencia animations y npm audit fix
  fe-esimedia/package-lock.json
  fe-esimedia/package.json
  fe-esimedia/src/app/guards/auth.guard.ts
Due: pipelines/fe-compilation.yml

[FE] esit-profiles
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.css
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.ts
  fe-esimedia/src/app/components/register/form-styles.css
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.css
Due: pipelines/fe-compilation.yml

Usuario controlador y servicio creados
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UsuarioController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UsuarioService.java
Due: pipelines/be-compilation.yml

Listas de Reprodución de usuarios
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/PasswordResetController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/PlaylistController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/AudioControllerTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/VideoControllerTest.java
Due: pipelines/be-compilation.yml

Lógica de Listas de Reproducción
  fe-esimedia/src/app/app.routes.ts
  fe-esimedia/src/app/components/list-playlists/list-playlists.component.css
  fe-esimedia/src/app/components/list-playlists/list-playlists.component.ts
  fe-esimedia/src/app/components/menus/main-menu-user/main-menu-user.component.html
  fe-esimedia/src/app/components/playlist-detail/playlist-detail.component.css
  fe-esimedia/src/app/components/playlist-detail/playlist-detail.component.ts
  fe-esimedia/src/app/services/playlist.service.ts
Due: pipelines/fe-compilation.yml

Admin puede actualizar información de Usuario, Creador y otros Admin
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/constants/Constants.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/AdminController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/Creador.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/User.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/Usuario.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AdminService.java
Due: pipelines/be-compilation.yml

Modificar información propia de Usuarios, Admins y Creadores
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/constants/Constants.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/CreadorController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/model/Admin.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AdminService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/CreadorService.java
Due: pipelines/be-compilation.yml

getAllUsers conectado FE-BE
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
  fe-esimedia/src/app/components/admin-pages/user-management/user-management.component.css
  fe-esimedia/src/app/components/admin-pages/user-management/user-management.component.html
  fe-esimedia/src/app/components/admin-pages/user-management/user-management.component.ts
  fe-esimedia/src/app/components/menus/main-menu-admin/main-menu-admin.component.html
  fe-esimedia/src/app/services/user.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

[FE] filtros showContent
  fe-esimedia/src/app/components/creator-pages/uploadcontent/uploadaudio/uploadaudio.component.ts
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.ts
  fe-esimedia/src/app/components/show-content/show-content.component.css
  fe-esimedia/src/app/components/show-content/show-content.component.html
  fe-esimedia/src/app/components/show-content/show-content.component.ts
  fe-esimedia/src/app/constants/form-constants.ts
Due: pipelines/fe-compilation.yml

Tests
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/AdminControllerTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/AdminServiceTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UsuarioControllerTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UsuarioServiceTest.java
Due: pipelines/be-compilation.yml

[FE btn limpiar filtros
  fe-esimedia/src/app/components/show-content/show-content.component.css
  fe-esimedia/src/app/components/show-content/show-content.component.html
  fe-esimedia/src/app/components/show-content/show-content.component.ts
Due: pipelines/fe-compilation.yml

Funcionalidad borrar usuarios
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/AdminController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AdminService.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UsuarioControllerTest.java
Due: pipelines/be-compilation.yml

Conexión bloqueo users FE+BE
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  fe-esimedia/src/app/components/admin-pages/user-management/user-management.component.ts
  fe-esimedia/src/app/services/admin.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

Solucionadas varias issues SonarQube
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/constants/Constants.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AdminService.java
Due: pipelines/be-compilation.yml

Mas tests
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/ValidateService.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UserControllerVerifyTokenTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/ValidateServiceTest.java
Due: pipelines/be-compilation.yml

Solucionadas issues críticas y de seguridad
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/constants/Constants.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UserController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AuthService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UserService.java
Due: pipelines/be-compilation.yml

Intento de casos de prueba
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/AdminControllerTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/AdminServiceTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UserControllerTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UserServiceTest.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/UsuarioControllerTest.java
Due: pipelines/be-compilation.yml

[FE + BE] update profiles
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/AdminController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/CreadorController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/UsuarioController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/repository/CreadorRepository.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/CreadorService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UsuarioService.java
  fe-esimedia/src/app/components/admin-pages/user-management/user-management.component.ts
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.ts
  fe-esimedia/src/app/components/loginuser/loginuser.component.ts
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.ts
  fe-esimedia/src/app/models/user.model.ts
  fe-esimedia/src/app/models/usuario.model.ts
  fe-esimedia/src/app/services/admin.service.ts
  fe-esimedia/src/app/services/creator.service.ts
  fe-esimedia/src/app/services/usuario.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

Fix borro contraseña al updatear
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AdminService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/CreadorService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/UsuarioService.java
Due: pipelines/be-compilation.yml

Intento de reproducción para creadores y admins
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/AudioController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/ContenidoController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/http/VideoController.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/AudioService.java
  be-esimedia/src/main/java/edu/uclm/esi/esimedia/be_esimedia/services/VideoService.java
  be-esimedia/src/test/java/edu/uclm/esi/esimedia/be_esimedia/AudioServiceTest.java
  fe-esimedia/src/app/app.routes.ts
  fe-esimedia/src/app/services/content.service.ts
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

[FE] medio edit profiles desde admin
  fe-esimedia/src/app/app.routes.ts
  fe-esimedia/src/app/components/admin-pages/user-management/user-management.component.html
  fe-esimedia/src/app/components/admin-pages/user-management/user-management.component.ts
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.ts
  fe-esimedia/src/app/models/superUser.model.ts
Due: pipelines/fe-compilation.yml

Actualizacion gitignore
  be-esimedia/.gitignore
  fe-esimedia/.gitignore
Due: pipelines/be-compilation.yml, pipelines/fe-compilation.yml

cambios para el sonar
  fe-esimedia/src/app/components/creator-pages/uploadcontent/uploadcontent.component.html
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.ts
  fe-esimedia/src/app/components/register/registeruser/registeruser.component.ts
  fe-esimedia/src/app/components/show-content/show-content.component.ts
  fe-esimedia/src/app/models/user.model.ts
Due: pipelines/fe-compilation.yml

FIX error recuperar contraseña
  fe-esimedia/src/app/components/register/register-functions.ts
Due: pipelines/fe-compilation.yml

arreglo sonar
  fe-esimedia/src/app/components/edit-profiles/edit-profiles.component.ts
Due: pipelines/fe-compilation.yml

cambio sonar
  fe-esimedia/src/app/services/user.service.ts
Due: pipelines/fe-compilation.yml

Listas de Reprodución con Sonar pasando
  fe-esimedia/src/app/components/list-playlists/list-playlists.component.html
  fe-esimedia/src/app/components/list-playlists/list-playlists.component.ts
Due: pipelines/fe-compilation.yml
